In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
ds = pd.read_csv(r'dataset_final.csv')

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
ds['#'].count()

800

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
ds.groupby('Type 1').get_group('Poison')['#'].count()

28

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
len(ds.groupby('Type 1').groups)

18

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
print("La cantidad de pokemons por tipo es:")
print(ds.groupby('Type 1')['#'].count())
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
sorted = ds.groupby('Type 1')['#'].count().sort_values(ascending = False)
maxvalue = sorted[0]
maxvaluename = sorted.index[0]
print(f"\nEl tipo con más pokemons es {maxvaluename} con {maxvalue} criaturitas")

La cantidad de pokemons por tipo es:
Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

El tipo con más pokemons es Water con 112 criaturitas

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
pokemon = ds.sort_values(by=['Speed'] , ascending = False).iloc[0]

print(f"El pokemon más veloz es {pokemon['Name']}")

El pokemon más veloz es DeoxysSpeed Forme

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
condition = ds['Defense']>100
defense_ds = ds[condition]
count_def100 = defense_ds['#'].count()
names_def100 = ", ".join(defense_ds['Name'].values)

print(f"Hay {count_def100} pokemon con una defensa superior a 100 y son: {names_def100}")

Hay 123 pokemon con una defensa superior a 100 y son: VenusaurMega Venusaur, CharizardMega Charizard X, BlastoiseMega Blastoise, Sandslash, Graveler, Golem, Slowbro, SlowbroMega Slowbro, Cloyster, Onix, Kingler, Marowak, Weezing, Rhydon, Tangela, PinsirMega Pinsir, GyaradosMega Gyarados, Omastar, Kabutops, AmpharosMega Ampharos, Sudowoodo, Umbreon, Forretress, Gligar, Steelix, SteelixMega Steelix, ScizorMega Scizor, Shuckle, HeracrossMega Heracross, Magcargo, Skarmory, Donphan, Miltank, Suicune, Tyranitar, TyranitarMega Tyranitar, Lugia, SwampertMega Swampert, Nosepass, SableyeMega Sableye, MawileMega Mawile, Lairon, Aggron, AggronMega Aggron, Torkoal, AltariaMega Altaria, Claydol, Dusclops, Huntail, Gorebyss, Relicanth, SalamenceMega Salamence, Metagross, MetagrossMega Metagross, Regirock, Registeel, LatiasMega Latias, Groudon, GroudonPrimal Groudon, DeoxysDefense Forme, Torterra, Shieldon, Bastiodon, WormadamSandy Cloak, Vespiquen, Bronzong, Spiritomb, GarchompMega Garchomp, Hippowdon, Drapion, AbomasnowMega Abomasnow, Magnezone, Rhyperior, Tangrowth, Leafeon, Glaceon, Gliscor, Probopass, Dusknoir, RotomHeat Rotom, RotomWash Rotom, RotomFrost Rotom, RotomFan Rotom, RotomMow Rotom, Uxie, Mesprit, Dialga, Heatran, Regigigas, GiratinaAltered Forme, Cresselia, Arceus, Boldore, Gigalith, AudinoMega Audino, DarmanitanZen Mode, Crustle, Scrafty, Cofagrigus, Tirtouga, Carracosta, Escavalier, Ferrothorn, Klinklang, Mandibuzz, Durant, Cobalion, Zekrom, Chesnaught, Doublade, AegislashShield Forme, Barbaracle, Tyrantrum, Carbink, GourgeistAverage Size, GourgeistSmall Size, GourgeistLarge Size, GourgeistSuper Size, Avalugg, Zygarde50% Forme, Diancie, DiancieMega Diancie, Volcanion

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''

condition = (ds['Defense']>100) & (ds['Speed']>100)
ds[condition]['#'].count()

9

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
ds.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_condition = ds['Type 1'] == "Water"
fire_condition = ds['Type 1'] == "Fire"
water_fire_ds = ds[water_condition | fire_condition]
water_fire_ds

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary_condition = ds['Legendary']
legendaries = ds[legendary_condition]
legendaries

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''

non_legendary_condition = ds['Legendary'] == False
non_legendaries = ds[non_legendary_condition]

def average(dataset):
    avg_count = dataset['#'].count()
    avg = dataset[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum().apply(lambda value: value/avg_count)
    return avg

legen_average = average(legendaries)
non_legen_average = average(non_legendaries)
print("Estos son los promedios de los stats de los legendarios \n")
print(legen_average)
print("\nEstos son los promedios de los stats de los no legendarios \n")
print(non_legen_average)

Estos son los promedios de los stats de los legendarios

HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
dtype: float64

Estos son los promedios de los stats de los no legendarios

HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

In [14]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

pd.DataFrame(data=[legen_average, non_legen_average], index = ['Legendary', 'No Legendary'])

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615
No Legendary,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782

In [15]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
dtype_condition = (ds['Type 1'].notna()) & (ds['Type 2'].notna())
ds['Doble Tipo'] = dtype_condition

In [16]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

ds[dtype_condition][['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2' , 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [17]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra

# B. Una función que calcule el precio total de la compra con un descuento del 10%

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)

# E.lista los artículos cuyo precio es superior a 20€

In [18]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]